* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --primary-color: rgb(6, 59, 119);
    --secondary-color: #bee5ff;
    --tertiary-color: rgb(227, 241, 248);
  }

    body {
        color: var(--primary-color);
        font-family: "Courier New", Courier, monospace;
        background-color: var(--tertiary-color);
      }

    /* HEADER STYLE START */

    header {
        padding: 20px 35px;
        display: flex;
        flex-wrap: wrap;
        top: 0;
        color: black;
        justify-content: space-between;
        align-content: center;
        background-image: url("../images/data_1.jpg");
        background-size: cover;
        background-position: 80%;
        background-attachment: fixed; 
    }

    header h1 {
        font-weight: normal;
        font-size: 42px;
        padding: 5px;
        margin-left: 20px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        border: 2px solid var(--primary-color);
        border-radius: 15px;
    }

    /* header h1 a:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 15px;
        text-shadow: none;
        opacity: 0.5; 
    } */

    header a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    header nav {
        margin: 7px 0;
        align-content: center;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    header nav ul li a {
        padding: 10px;
        margin: 5px;
        font-weight: lighter;
        font-size: 2.0vw;
        text-shadow: 0 0 5px rgba(0,0,0, 0.5);
        border: 2px solid var(--primary-color);
        border-radius: 15px;
    }

    header nav ul li a:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 15px;
        text-shadow: none;
        opacity: 0.5;
    }

    /* HEADER STYLE END */

    /* HERO STYLE START */

    .hero {
        background-image: url("../images/data_1.JPG");
        background-size: 75%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-end;
        background-attachment: fixed;
        background-size: cover;
        background-position: 80%;
    }

    .hero img {
        max-width: 25%;
        display: block;
        padding: 5px 5px;
        margin: 30px 0px 30px 50px;
        border: 2px solid var(--primary-color);
        opacity: 0.85;
        border-radius: 15px;
    }

   .transparent-box {
        padding: 15px;
        background-color: #bee5ff;
        border: 2px solid var(--primary-color);
        opacity: 0.3;
        border-radius: 15px;
      } 

    .secondary {
          margin-top: 25%;
          margin-bottom: 25px;
          margin-right: 25px;
      }

    .transparent-box h2 {
        font-style: italic;
        font-size: 15px;
        color: black;
        padding-right: 20px;
        
    }

    /* HERO STYLE END */

    /* SECTION TITLES */

   /* .section-title {
        font-size: 48px;
        color: var(--primary-color);
        border-right: 3px solid;
        padding-bottom: 20px;
        text-align: right;
        margin: 0; */


    /* Title Style */
    .contents {
        margin: 50px auto;
        padding-bottom: 50px;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

       .contents h2 {
        color: var(--secondary-color);
        border-right: 1px dashed var(--primary-color);
        border-bottom: 1px dashed var(--primary-color);
        font-size: 30px;
        flex: 1 20%;
        font-size: 48px;
        color: var(--primary-color);
        padding-bottom: 50px;
        padding-right: 20px;
        text-align: right;
      }  

      .content {
        flex: 2 60%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 20px;
      }

      /* End Title Style */

      /* ABOUT ME STYLE */

      .intro-text {
          flex: 12;
      }

      .intro-text p {
          font-size: 20px;
      }

      /* ABOUT ME STYLE END */

      /* WORK STYLE */

      .work-grid-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
       }

       .work-grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        width: 80%;
        color: var(--primary-color);
        font-size: 1.2rem;
        grid-gap: 10px;
        background-color: darkblue;
      }

      .work-grid-item {
        padding: 15px 0;
        border: 2px solid var(--primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .work-grid-item.main {
          grid-column 2 / span 2;
      }

      /* END WORK STYLE */

    /* UTILITY CLASSES DO WE NEED? */

    .flex-column {
        display: flex;
        flex-direction: column;
      }

    /* UTILITY CLASSES */   
