* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root {
    --primary-color: rgb(6, 59, 119);
    --secondary-color: #bee5ff;
    --tertiary-color:rgba(255, 144, 212, 0.10);
  }

    body {
        color: var(--primary-color);
        font-family: "Courier New", Courier, monospace;
        background-color: var(--tertiary-color);
      }

    /* HEADER STYLE START */

    header {
        padding: 20px 50px;
        display: flex;
        flex-wrap: wrap;
        top: 0;
        color: black;
        justify-content: space-between;
        align-content: center;
        background-image: url("../images/data_1.jpg");
        background-size: cover;
        background-position: 80%;
        background-attachment: fixed;
    }

    header h1 {
        font-weight: normal;
        font-size: 42px;
        padding: 5px;
        margin-left: 20px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        border: 2px solid var(--primary-color);
        border-radius: 15px;
    }

  /*  header h1 a:hover {
        background: var(--primary-color);
        color: var(--secondary-color);
        border-radius: 15px;
        text-shadow: none;
        opacity: 0.5; 
    } */

    header a {
        text-decoration: none;
        color: var(--secondary-color);
    }

    header nav {
        margin: 15px 0;
    }

    header nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
    }

    header nav ul li a {
        padding: 10px;
        margin: 0 5px;
        font-weight: lighter;
        font-size: 2.0vw;
        text-shadow: 0 0 5px rgba(0,0,0, 0.5);
        border: 2px solid var(--primary-color);
        border-radius: 15px;
    }

    header nav ul li a:hover {
        background: var(--tertiary-color);
        color: var(--secondary-color);
        border-radius: 15px;
        text-shadow: none;
    }

    /* HEADER STYLE END */

    /* HERO STYLE START */

    .hero {
        background-image: url("../images/Dog_2.jpg");
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background-attachment: fixed;
        background-size: cover;
        background-position: 80%;
    }

    .hero-img {
        width: 35%;
        display: block;
    }

   .transparent-box {
        padding: 15px;
        background-color: #bee5ff;
        border: 2px solid var(--primary-color);
        opacity: 0.3;
        border-radius: 15px;
        margin: 0 50px 20px 10px;
        width: 50%;
        text-align: right;
    }

    .hero img {
        max-width: 75%;
        padding: 5px 5px;
        margin: 0px 0px 30px 50px;
        border: 2px solid var(--primary-color);
        opacity: 1;
        border-radius: 15px;
    }

    .transparent-box h2 {
        font-style: italic;
        font-weight: bold;
        font-size: 2.0vw;
        color: black;
        padding-right: 20px;
        
    }

    /* HERO STYLE END */

    /* SECTION TITLES */


    /* Title Style */
    .contents {
        margin: 50px 10px;
        padding-bottom: 50px;
        width: 85%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
    }

       .contents h2 {
        color: var(--secondary-color);
        font-size: 30px;
        flex: 1 15%;
        font-size: 34px;
        color: var(--primary-color);
        text-align: right;
      }  

      .content {
        flex: 2 65%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        margin-left: 20px;
        border-left: 1px dashed var(--primary-color);
        padding-left: 20px;
      }

      /* End Title Style */

      /* ABOUT ME STYLE */

      .intro-text {
          flex: 12;
      }

      .intro-text p {
          font-size: 20px;
          line-height: 1.2;
      }

      /* ABOUT ME STYLE END */

      /* WORK STYLE */

        .work-grid-wrapper {
        display: flex;
        width: 100%;
        justify-content: center;
       }

       .work-grid-container {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(14, 1fr);
        width: 100%;
        color: var(--primary-color);
        font-size: 1.2rem;
        grid-gap: 25px;
      }
      
      .work-grid-container a {
        padding: 15px 0;
        border: 2px dashed var(--primary-color);
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        text-align: left;
        position: relative;
        border-radius: 5px;
        text-decoration: none;
      }

      .work1 a::after {
          background: linear-gradient(var(--primary-color), var(--tertiary-color));
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          transition: all 1.0s;
      }

      .main {
        grid-column: 1 / span 8;
        grid-row: 1 / span 16;
    }

      .addition {
          grid-column: span 4;
          grid-row: span 8;
      } 

      .work1 {
        background-image: url(../images/runbuddy.jpg);
        background-size: cover;
        background-position: 80%;
      }

      .work2 {
        background-image: url(../images/Dog_2.jpg);
        background-size: cover;
        background-position: 80%;
      }

      .work3 {
        background-image: url(../images/Mountain_2.jpg);
        background-size: cover;
        background-position: 80%;
      }

      .work4 {
        background-image: url(../images/Walrus_1.jpg);
        background-size: cover;
        background-position: 80%;
      }

      .work5 {
        background-image: url(../images/Dog_Window.jpeg);
        background-size: cover;
        background-position: 80%;
      }

      .work-header {
          padding-right: 15px;
          background-color: var(--secondary-color);
          opacity: 0.75;
          text-align: center;
          line-height: 1.2;
          color: var(--primary-color);
          padding: 5px 10px;
      }

      .work-header h3 {
        font-size: 2.5vw;
      }

      .work-header h4 {
        font-size: 1.0vw;
      }


      /* END WORK STYLE */

      /* CONTACT ME STYLE */

      .contact-info ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        width: 100%;
    }

    .contact-info ul li {
        padding: 10px;
        margin: 0 30px;
        font-weight: lighter;
        font-size: 2.0vw;
        border: 2px dashed var(--primary-color);
        border-radius: 10px;
    }

    .contact-info li:hover {
        background: var(--secondary-color);
        color: var(--primary-color);
        border-radius: 15px;
        opacity: 0.5;
    }
      .contact-info a {
          text-decoration: none;
          color: var(--primary-color)
      }

      /*CONTACT ME STYLE END */

      /* FOOTER STYLE */
      
    footer {
      text-align: right;
      color: var(--secondary-color);
      background-image: url("../images/data_1.jpg");
      background-size: cover;
      background-position: 80%;
    }

    footer h3 {
        padding: 15px;
    }

    /* FOOTER STYLE END */ 

    /* Media Queries */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

    .content {
        width: 80%;
    }

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
      }

      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: space-around;
      }

      header nav ul li a {
        font-size: 1.5vw;
      }

    .hero {
        justify-content: center;
        align-items: center;
    }

    .hero-img {
        margin: auto;
    }

    .hero img {
        margin-left: 25px;
        margin-top: 10px;
    }

    .transparent-box {
        text-align: center;
    }
    
    .contact-info ul li {
        margin: 0 10px;
    }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {

    .contents h2 {
        font-size: 25px;
    }

    .intro-text p {
        font-size: 15px;
    }
}

    /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {

    .contents {
        flex-direction: row;
        justify-content: center;
        align-content: flex-start;
        text-align: left;
    }

    .contents h2 {
        text-align: center;
        margin-bottom: 15px;
    }

    .content {
        justify-content: center;
        margin: auto;
      }

      .transparent-box {
          margin: 10px 5px;
      }

      .transparent-box h2 {
          padding-right: 0;
      }

      .hero img {
          margin-bottom: 5px;
      }

      .work-grid-container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(14, 1fr);
}

}